#trapline-list .list-cell {
	-fx-min-height: 20;
}

#trapline-list .list-cell .button, .large-button {
	-fx-max-width: 1000px;
	-fx-max-height: 1000px;
	-fx-padding: 1.5em;
	-fx-font-size: 1.5em;
}

.catch-select-option {
	
}

#distance-label {
	-fx-font-size: 1.3em;
	-fx-alignment: center;
}

.text-field:error {
  -fx-text-box-border: red;
  -fx-focus-color: red;
}