.navbar-header {min-height: 60px;}
.navbar-brand {padding:auto;}

@media (min-width: 768px) {
	.navbar-nav>li>a {
		padding: 25px 15px;
		font-size: 130%;
	}	
}
.navbar-brand {
	color: white !important;
}

.navbar-toggle {
	padding: 14px;
}
 
.img-responsive{
	width:360px;
	height:480px;
}


.mast {
  margin: 0 auto;
  max-width: 752px;
}

.mast p {
  margin-bottom: 30px;
}