#trapline-list .list-cell {
	-fx-min-height: 20;
}

#trapline-list .list-cell .button, .large-button {
	-fx-max-width: 1000px;
	-fx-max-height: 1000px;
	-fx-padding: 1.5em;
	-fx-font-size: 1.5em;	
}

#catch-select-list .list-cell {
	-fx-padding: 1.5em;
	-fx-font-size: 1.5em;
}

.catch-select-option {
	
}

.prev {
	-fx-alignment: center-left;
}

.next {
	-fx-alignment: center-right;
}

#distance-label {
	-fx-font-size: 1.3em;
	-fx-alignment: center;
	-fx-max-width: 1000px;
}

#top-box {
	-fx-max-width: 1000px;
}

.text-field:error {
  -fx-text-box-border: red;
  -fx-focus-color: red;
}

.gps-notice {
	-fx-text-fill: red;
	-fx-font-size: 1.5em;
	-fx-text-alignment: center;
	-fx-wrap-text: true;
}