<!DOCTYPE html>
<html lang="en" data-ng-app="myApp">

<head>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"   
	integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   
	crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
	crossorigin="anonymous"></script>

<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!--  To display the webpage in edge mode -->	
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<title>NESTNZ</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
crossorigin="anonymous">

<link rel="stylesheet" href="/css/web.css" />

<!-- Leaflet map -->
<link rel="stylesheet"
	href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
<script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>

<!-- favicon -->
<link rel="icon" type="image/x-icon" href="favicon.ico" />

<!-- This link would go in your header tag -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>
	<div class="{{wrapClass ? wrapClass : 'wrap'}}">

		<nav class="navbar navbar-fixed-top navbar-inverse navbar-nest">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="collapsed navbar-toggle"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#" title="Nest NZ"> <img
						class="hidden-xs"
						style="max-width: 70px; margin-top: -15px; margin-right: 20px; float: left;"
						src="img/logo-white.png"> <span
						style="display: inline-block;"> <span
							style="margin: 0 30px;">NEST NZ</span><br> <small> <em>Ōhanga
									o Aotearoa</em></small>
					</span>
					</a>
				</div>
				<div class="collapse navbar-collapse" id="navbar" bs-active-link>
					<ul class="nav navbar-nav navbar-right" ng-cloak>
						<li><a href="#/about">About</a></li>
						<li><a href="#/mobile">Mobile App</a></li>
						<li><a href="#/statistics">Statistics</a></li>
						<li><a href="#/volunteer">Volunteer</a></li>
						<li><a href="#/contact">Contact</a></li>
						<li ng-if="globals.currentUser" class="dropdown">
				          <a href="void()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
				          <ul class="dropdown-menu">
				            <li><a href="#/trapline-admin">Traplines</a></li>
				            <!-- <li role="separator" class="divider"></li> -->
				            <li><a href="#/user-admin">Users</a></li>
				          </ul>
				        </li>						
						<li data-ng-controller="LoginController" ng-if="globals.currentUser">
							<a href="#" ng-click="logout()">Logout
								({{globals.currentUser.username}})
							</a>
						</li>
						<li ng-if="!globals.currentUser"><a href="#/login">Log In</a></li>
					</ul>
				</div>
				<script>
				// for mobile menu view
				// collapse the menu in when an option is clicked 
				$(function() {
				    $('.nav a').on('click', function(){ 
				        if($('.navbar-toggle').css('display') !='none'){
				            $(".navbar-toggle").trigger( "click" );
				        }
				    });
				});
				</script>
			</div>
		</nav>
		<div data-ng-view class="container main-content"></div>
	</div>
	<footer>
		<div class="container">
			<p class="text-center">&copy; Massey University 2016</p>
		</div>
	</footer>
	<script src="//code.angularjs.org/1.2.20/angular.js"></script>
	<script src="//code.angularjs.org/1.2.20/angular-route.js"></script>
	<script src="//code.angularjs.org/1.2.13/angular-cookies.js"></script>
	<script src="js/app.js"></script>
	<script src="modules/authentication/services.js"></script>
	<script src="modules/authentication/controllers.js"></script>
	<script src="js/controllers.js"></script>
	<script src="modules/admin/controllers.js"></script>
</body>

</html>