  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center" >
      <br>
      <p><img style='height: 50%; width: 50%;' src="img/deadrodent.jpg" alt=""></p>

      <h2><i class="fa fa-exclamation-triangle" style="color:red"></i>
     		Page not found <small>404 error</small></h2>
      <p>This rodent is dead!!!
        <br>
      </p>
      <p>..... but so is this page
        <br>
      </p>
      <p>Please use the menu bar above to find the page you were looking for.
      	<br>
      </p>
      <p><a href="#/">www.nestnz.org</a></p>
      <p>
        <a href="#/contact">Contact</a></p>
    </div>
  </div>
