
<div class="jumbotron">
<div class="text-center">

<h2 class="text-center page-header"><b>ABOUT</b></h2>

<h3 class="text-left"><b>Contribute</b></h3>
    <div class="row">
        <div class="col-lg-12">
            <img class="pull-left gap-right" src="{{images[0].photo}}" />
            <p class="gap">Contribute to New Zealand's goal to become <a  href="http://www.doc.govt.nz/our-work/predator-free-new-zealand-2050/" class="linkColor">predator free by 2050</a> by <a href="#/volunteer" class="linkColor">volunteering</a> with your local branch of the Department of Conservation. You could help to reset predator traplines in the New Zealand bush and use the Nest NZ mobile application to record the predators caught.</p>
        </div>
    </div>
    <br>
<h3 class="text-right"><b>Connect</b></h3>    
    <div class="row">
        <div class="col-lg-12">
          	<img class="pull-right gap-right" src="{{images[1].photo}}" />
            <p class="gap">Connect with Project Nest NZ by <a href="#/contact" class="linkColor">contacting the core development team</a> or following us on <a href="https://twitter.com/NestNZ" class="linkColor">Twitter (@NestNZ)</a> or <a href="https://facebook.com/projectnestnz" class="linkColor">Facebook</a>.</p>
        </div>
    </div>
    <br>
 <h3 class="text-left"><b>Collaborate</b></h3>   
    <div class="row">
        <div class="col-lg-12">
          	<img class="pull-left gap-right" src="{{images[2].photo}}" />
            <p class="gap">Project Nest NZ is an open source project! Collaboration in any area - UX design, web design, mobile development etc. - is welcome. Please read through the project's wiki on the public <a href="https://github.com/FrancisG-Massey/Capstone2016" class="linkColor">Github repository</a>, or <a href="#/contact" class="linkColor">contact the core development team, to get started!</a></p>
        </div>
    </div>    

</div>
</div>