<h1 class="text-center page-header"><b>About</b></h1>
<div class="jumbotron">
<div class="text-center">

<div data-ng-repeat="image in images">
    <div class="row">
        <div class="col-lg-12">
            <caption align="top"><h3><b>{{image.aboutTitle}}</b></h3></caption>
            <img ng-class-odd="'pull-left'" ng-class-even="'pull-right'" class="img-circle gap-right" src="{{image.photo}}" />
            <p class="text-left gap" ng-bind-html="image.aboutdetails"></p>
        </div>
    </div>
    <br>
    </div>
</div>
</div>