
            <div class="text-center mast">
                <h2>Contact Us</h2>
                <br>
				<br>
				<br>
                <address>
					<img src="location.png" alt="Address:" height="42" width="42"><address>
					<br>
                    <strong>Capstone Team Two</strong>
                    <br>Massey University
                    <br>Palmerston North, NZ
                    <br>
                </address>
					<br>
                    <img src="contact.png" alt="Email:" height="42" width="42">
					<br>
					<br>
					<a href="mailto:#">&#9;projectnestnz@gmail.com</a>
					<br>
					<br>
					<br>
					<img src="coding.png" alt="Github repo:" height="42" width="42">
					<br>
					<br>
					<a href="https://github.com/FrancisG-Massey/Capstone2016">&#9;visit our code repository</a>

                </address>
            </div>