
            <div class="text-center mast">
                <h2>Contact Us</h2>
                <address>
                    <strong>Capstone Team Two</strong>
                    <br>Massey University
                    <br>Palmerston North, NZ
                    <br>
                </address>
                <address>
                    <abbr title="Phone">P:</abbr> (+64) xxx-xxxx
                    <br>
                    <abbr title="Email">E:</abbr> <a href="mailto:#">projectnestnz@gmail.com</a>
					<br>
					<abbr title="Github">Github:</abbr> <a href="https://github.com/FrancisG-Massey/Capstone2016"> visit our code repository</a>

                </address>
            </div>