<h1 class="text-center page-header"><b>Contact Us</b></h1>
<div class="jumbotron">
<div class="text-center">
                <address>
					<img ng-src='img/location.png' alt="Address:" height="42" width="42">
					<br>
					<br>
                    <strong>Capstone Team Two</strong>
                    <br>Massey University
                    <br>Palmerston North, NZ
                    <br>
					<br>
                    <img ng-src='img/contact.png' alt="Email:" height="42" width="42">
					<br>
					<br>
					<a href="mailto:#">&#9;projectnestnz@gmail.com</a>
					<br>
					<br>
					<br>
					<img ng-src='img/coding.png' alt="Github repo:" height="42" width="42">
					<br>
					<br>
					<a href="https://github.com/FrancisG-Massey/Capstone2016">&#9;visit our code repository</a>

                </address>
            </div>
            </div>
<p class="text-center"><i>Icons made by <a href="www.flaticon.com">Freepik</a> and <a href="http://www.flaticon.com/authors/pixel-buddha">Pixel Buddha</a> from <a href="www.flaticon.com">www.flaticon.com</a> is licensed by CC 3.0 BY</i></p>
            