<div class="text-center mast">
      <h1>What We're Doing</h1>
      <p class="lead">Project Nest is the development of a mobile application to aid volunteers of DOC with the resetting of traplines.</p>
      <p>Four students from Massey University are undertaking the design, implementation, testing, and deployment of this application to satisfy the requirements of a Software Engineering capstone project.</p> 
      <p>We are working closely with volunteers and academic staff to provide a professional and successful cross-platform experience.</p>
      <a class="btn btn-default btn-lg" href="/#/about"> Learn about us  &raquo;</a>
  </div>

        <hr>
        <div class="row">
            <div class="col-sm-4" data-ng-repeat="image in images">
                <a href="{{image.link}}">
                <img class="img-circle img-responsive" data-ng-src="{{image.photo}}" alt="">
                </a>
                <h2>{{image.header}}</h2>
				<p>{{image.description}}</p></div>
            <!-- <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" data-ng-src="{{image.photo}}" alt="">
                <h2>Data</h2>
				<p>View the data from the traplines where DOC volunteers use our services.</p></div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" data-ng-src="{{image.photo}}" alt="">
                <h2>Volunteers</h2>
				<p>View profiles of hardworker DOC volunteers from around New Zealand</p></div> -->
        </div>
        <!-- /.row -->
		
        <hr>