<h1 class="text-center page-header"><b>Mobile Application</b></h1>
<div class="jumbotron">

<div class="text-center">
<div data-ng-repeat="image in mobileImages">
    <div class="row">
        <div class="col-lg-12">
        <caption align="top"><h3><b>{{image.title}}</b></h3></caption>
        
            <img ng-class-odd="'pull-left'" ng-class-even="'pull-right'" class="img-circle gap-right" src="{{image.photo}}" />
            <p class="text-left gap">{{image.description}}</p>
        </div>
    </div>
    <br>
    </div>
<hr>
        <div class="text-center">
        <h2><b>Download</b></h2>
        <p>The Project Nest mobile app will soon be available for download from the Apple App Store and the Google Play Store.&#10;&#10;
		The mobile app is designed to be used by volunteers in the field to locate traps and record catches.</p> 
            <a class="btn btn-default-modified  btn-lg btn3d" href="https://play.google.com/store">Download via the Google Play Store &#x021D3;</a>
            <a class="btn btn-default-modified  btn-lg btn3d" href="https://itunes.apple.com/nz/genre/ios/id36?mt=8">Download via the Apple App Store &#x021D3;</a>

		</div>
</div>
</div>
