<h1 class="text-center page-header"><b>Mobile Application</b></h1>

<br>

	<div class="text-center">
    <h3><b>Download</b></h3>
    <p>The Project Nest mobile app is available for download from Google Play Store<sup>TM</sup><br>The Project Nest mobile app will soon be available for download from the Apple App Store<br>
	The mobile app is designed to be used by volunteers in the field to locate traps and record catches.</p> 
    <!-- <a class="btn btn-default-modified  btn-lg btn3d" href="https://play.google.com/store">Download via the Google Play Store &#x021D3;</a>-->
    <a href='https://play.google.com/store/apps/details?id=org.nestnz.app&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
    <img alt='Get it on Google Play'  style= "height: 100px; width: 270px" src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
	<a href="void()"  ng-disabled="true" >
	<img src = "https://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg" style="height: 68px; width: 300px"/></a>
    <!--  <a class="btn btn-default-modified  btn-lg btn3d" href="https://itunes.apple.com/nz/genre/ios/id36?mt=8">Download via the Apple App Store &#x021D3;</a>-->
	</div>
<div class="jumbotron">
<div class="text-center">
<div data-ng-repeat="image in mobileImages">
    <div class="row">
        <div class="col-lg-12">
        <caption align="top"><h3><b>{{image.title}}</b></h3></caption>
        
            <img ng-class-odd="'pull-left'" ng-class-even="'pull-right'" class="img-circle gap-right" src="{{image.photo}}" />
            <p class="text-left gap">{{image.description}}</p>
        </div>
    </div>
    <br>
    </div>
</div>
</div>
