
  		<div class="text-center mast" >
  		<h2>Mobile Application</h2>
		<p>The Project Nest mobile app will soon be available for download from the Apple App Store and the Google Play Store.
		The mobile app is designed to be used by volunteers out in the field to locate traps and record catches.</p> 
		<p></p>
		
		</div>
		<hr>
        <div class="text-center">
            <a class="btn btn-default btn-lg" href="https://play.google.com/store">Download via the Google Play Store &Downarrow</a>
            <a class="btn btn-default btn-lg" href="https://itunes.apple.com/nz/genre/ios/id36?mt=8">Download via the Apple App Store &Downarrow</a>

		</div>
        
        <hr>
        

