<h1 class="text-center page-header"><b>Statistics</b></h1>
<div class="jumbotron">
<div class="text-center">
<img src="img/comingsoon.png" />
</div>
<p class="text-center"><small><i>Icons made by <a href="www.flaticon.com">Freepik</a> from <a href="www.flaticon.com">www.flaticon.com</a> is licensed by CC 3.0 BY</small></i></p>
<div class="text-center">
	<p><b>For now, you are free to download the annual report for 2016 and use it</b></p>
	<a class="btn btn-default-modified btn-lg btn3d"  href="https://www.nestnz.org/api/catch-report-annual.csv?year=2016"> Annual Report  &raquo;</a>
</div>
</div>    
