<h1 class="text-center page-header"><b>Volunteer</b></h1>
<div class="jumbotron">
<div class="text-center">
	<p>Volunteering with DOC is a rewarding experience. 
	<p>You are contributing to the health of New Zealand's environment.</p> 
	<p>If you would like to get involved, apply through your local DOC office by following the link below</p>
	<hr>
    <div class="text-center">
        <a class="btn btn-default-modified btn-lg btn3d" href="http://www.doc.govt.nz/get-involved/volunteer/"> Apply via DOC  &raquo;</a>
    </div>
</div>
</div>

        

