
  		<div class="text-center mast" >
  		<h2>Volunteer</h2>
		<p>Volunteering with DOC is a rewarding experience. 
		<p>You are contributing to the health of New Zealand's environment.</p> 
		<p>If you would like to get involved, apply through your local DOC office by following the link below</p>
		
		</div>
		<hr>
        <div class="text-center">
            <a class="btn btn-default btn-lg" href="http://www.doc.govt.nz/get-involved/volunteer/"> Apply via DOC  &raquo;</a>
        </div>
        
        <hr>
        

