<ul class="breadcrumb">
  <li><a href="/#" >Home</a></li>
  <li><a href="/#/trapline-admin" >Admin</a></li>
  <li><a href="#/trap-admin/{{trapline_id}}/{{trapline_name}}">{{trapline_name}}</a></li>
  <li class="active"> Trap {{trap.number}}</li>  
</ul>
<div class="jumbotron">
  <h2 class="text-center page-header">Edit Trap {{trap.number}}</h2>
  <form  ng-submit="Edit()">
		<div class="col-lg-10 col-lg-offset-1">
		<div class="well">
		<!--<div class="well the-fieldset">
		<legend class="the-legend text-center">Add New Trap</legend> -->
    <div class="clearfix">
      <div class="pull-right" >
      	<label class="radio-inline">
		  <input type="radio" ng-model="trap.status" value="1" checked> Active
		</label>
		<label class="radio-inline">
		  <input type="radio" ng-model="trap.status" value="0"> Inactive
		</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <label>Latitude</label>
        <div class="input-group">
          <input type="number" class="form-control" step="any" min="-90" max="90"  ng-model="trap.coord_lat" required>
          <span class="input-group-addon">N</span>
        </div>
      </div>
      <div class="col-md-6 form-group">
        <label>Longitude</label>
        <div class="input-group">
          <input type="number" class="form-control" step="any" min="-180" max="180" ng-model="trap.coord_long" required> 
          <span class="input-group-addon">E</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <label>Bait type</label>
        <select class="form-control" ng-model="trap.bait_id" >
          <option data-ng-selected="bait.id == trap.bait_id" 
             data-ng-repeat="bait in baits" ng-value="{{bait.id}}">{{bait.name}}</option>
        </select>
      </div>
      <div class="col-md-6 form-group">
        <label>Trap type</label>
        <select class="form-control" ng-model="trap.traptype_id" >
          <option data-ng-selected="type.id == trap.traptype_id" 
             data-ng-repeat="type in trap_type" ng-value="{{type.id}}">{{type.name}}</option> 
        </select>
      </div>
    </div>
	<div ng-show="showMap()" class="map" id="mapid"></div>
    <div class="clearfix" style="margin-top:8px; margin-bottom: 20px">
      <div class = "pull-right" style="margin-top: 10px;">
        <button class="btn btn-success" type="submit">Save</button>
      </div>
    </div>
    </div>
</div>
  </form>
</div>  