<ul class="breadcrumb">
  <li><a href="/#" >Home</a></li>
  <li><a href="/#/trapline-admin" >Admin</a></li>
  <li class="active"> Add new trapline</li>  
</ul>
<div class="jumbotron">
<h2 class="text-center page-header">New Trapline</h2>
      <form ng-submit="Save()" name="saveForm">
      <div class="row">
      	<div class="col-lg-10 col-lg-offset-1">
		<div class="well">
		 <div class="row">
        <div class="col-md-6 form-group">
          <label>Name</label>
          <input maxlength="30" type="text" class="form-control"  ng-model="line_name" >
        </div>
        <div class="col-md-6 form-group">
          <label>Region</label>
          <select class="form-control" ng-model="region_id" >
            <option ng-value="{{region.id}}" data-ng-repeat="region in regions">{{region.name}}</option>
          </select>
        </div>
        </div>
		<div class="row">
        <div class="col-md-6 form-group">
          <label>Start</label>
          <input maxlength="30" type="text" class="form-control"  ng-model ="startTag">
        </div>
        <div class="col-md-6 form-group">
          <label>End</label>
          <input maxlength="30" type="text" class="form-control"  ng-model= "endTag">
        </div>
        </div>
		<div class="row">
        <div class="col-md-6 form-group">
          <label>Default Bait type</label>
          <select class="form-control" ng-model="baitId">
            <option value="{{bait.id}}" data-ng-repeat="bait in baits">{{bait.name}}</option>
          </select>
        </div>
        <div class="col-md-6 form-group">
          <label>Trap type</label>
          <select class="form-control" ng-model="traptypeId">
            <option value="{{type.id}}" data-ng-repeat="type in trap_types">{{type.name}}</option>
            </select>
        </div>
        </div>
        <div class="clearfix form-group">
          <button ng-disabled="saveForm.$invalid" class="btn btn-success pull-right" type="submit">Save</button>
        </div>
        </div>
        </div>
        </div>
      </form>
</div>
