<ul class="breadcrumb">
  <li><a href="/#/trapline-admin" >Admin</a></li>
  <li class="active"> Add new trapline</li>  
</ul>    
<div>
	<h1 class="text-center page-header">Add New Trapline</h1>
    <form ng-submit="Save()">
    <div class="clearfix"> 
        <div class="row">
          <div class="col-md-6 form-group">
            <label>Name</label>
            <div>
              <input type="text" class="form-control"  ng-model="line_name" >
            </div>
          </div>
		  <div class="col-md-6 form-group">
			<label>Region</label>
			<select class="form-control" ng-model="region_id" >
			<option ng-value="{{region.id}}" data-ng-repeat="region in regions">{{region.name}}</option>
			
			</select>
		</div>
		</div>
        <div class="row">
          <div class="col-md-6 form-group">
            <label>Start</label>
            <div>
              <input type="text" class="form-control"  ng-model ="startTag">
            </div>
          </div>
          <div class="col-md-6 form-group">  
            <label>End</label>
            <div>
              <input type="text" class="form-control"  ng-model= "endTag">
            </div>
          </div>
        </div>
        <div class="row">
			<div class="col-md-6 form-group">
				<label>Default Bait type</label>
					<select class="form-control">
						<option
							value="{{bait.id}}" data-ng-repeat="bait in baits">{{bait.name}}</option>
					</select>
				</div>
				<div class="col-md-6 form-group">
					<label>Trap type</label>
					<select class="form-control">
						<option 
							value="{{type.id}}" data-ng-repeat="type in trap_types">{{type.name}}</option>
					</select>
				</div>
			</div>
    	<div class="clearfix" style="margin-top:8px; margin-bottom: 20px">
      	<div class = "pull-right" style="margin-top: 10px;">
        <button class="btn btn-success" type="submit">Save</button>
      </div>
	</div>
</div>
</form>
</div>
