<ul class="breadcrumb">
  <li><a href="/#/trapline-admin" >Admin</a></li>
  <li class="active">Trapline id: {{trapline_id}}</li>  
</ul>

<h1 class="text-center page-header">Trap Admin</h1>
<p ng-if="!(traps.length > 0)">No traps exist: </p>
	
<div ng-if="traps.length > 0" ng-class="{'row': selected}">
	<div ng-if="!selected" class="clearfix form-group">
    <a href="#/trap-admin/{{trapline_id}}/add-new" id="addButton" class="btn btn-link">
      <span class="glyphicon glyphicon-plus"></span> Add Trap
    </a>
    <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#trapline-map" >View Map</button>
  </div>
	<div ng-class="{'col-sm-7': selected}">
		<table class="table table-condensed table-hover admin">
			<thead>
				<tr>
					<th>Trap Number</th>
					<th>Location</th>
					<th>Status</th>
					<th>Last Reset</th>
					<th>Placed Date</th>
					<th>Edit</th>
				</tr>
			</thead>
			<tbody data-ng-repeat="trap in traps[currentPage]">
				<tr data-ng-click="setSelected();"
					class="{{trap == selected ? 'success' : ''}}">
					<td scope="row">{{trap.number}}</td>
					<td>{{trap.coord_lat + ' '}}<b>N</b><br>{{trap.coord_long +
						' '}}<b>E</b></td>
					<td>{{trap.status? "active":"inactive"}}</td>
					<td>{{formatDate(trap.created) | date:"dd MMMM yyyy"}}</td>
					<td>{{formatDate(trap.last_reset)| date:"dd MMMM yyyy"}}</td>
					<td><a href="#/trap-admin/{{trap.id}}/edit-trap">Edit</a></td>
				</tr>
			</tbody>
		</table>

		<nav aria-label="Page navigation">
			<ul class="pagination">
				<li ng-class="{disabled: currentPage == 0}"><a href
					ng-click="prevPage()">« Prev</a></li>

				<li
					ng-repeat="n in range(traps.length, currentPage, currentPage + gap) "
					ng-class="{active: n == currentPage}" ng-click="setPage()"><a
					href ng-bind="n + 1">1</a></li>

				<li ng-class="{disabled: (currentPage) == traps.length - 1}"><a
					href ng-click="nextPage()">Next »</a></li>
			</ul>
		</nav>
	</div>
	<div ng-if="selected" ng-class="{'col-sm-5': selected}">
		<div class="well clearfix">
		
			<form ng-if="selected" name="form">
			<h3>
				{{'Trap Number: ' + selected.number}}
					<div class="btn-group pull-right" data-toggle="buttons">
					<label
						ng-class="{ 'btn btn-default': true, 'active': selected.status }">
						<input type="radio" autocomplete="off"
						ng-checked="selected.status">Active
					</label> <label
						ng-class="{ 'btn btn-default': true, 'active': !selected.status}">
						<input type="radio" autocomplete="off"
						ng-checked="!selected.status" ng-disabled="true">Inactive
					</label>
				</div>
				</h3>
	<div class="row">
				<div class="col-md-6 form-group">
					<label>Latitude</label>
					<div class="input-group">
						<input type="number" class="form-control"
							value="{{selected.coord_lat}}"> <span
							class="input-group-addon">N</span>
					</div>
				</div>
				<div class="col-md-6 form-group">
					<label>Longitude</label>
					<div class="input-group">
						<input type="number" class="form-control"
							value="{{selected.coord_long}}"> <span
							class="input-group-addon">E</span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 form-group">
					<label>Bait type</label>
					<select class="form-control">
						<option data-ng-selected="bait.id == selected.bait_id"
							value="{{bait.id}}" data-ng-repeat="bait in baits">{{bait.name}}</option>
					</select>
				</div>
				<div class="col-md-6 form-group">
					<label>Trap type</label>
					<select class="form-control">
						<option data-ng-selected="type.id == selected.traptype_id"
							value="{{type.id}}" data-ng-repeat="type in trap_type">{{type.name}}</option>
					</select>
				</div>
			</div>

	<div class="clearfix form-group">
	  <div>
	  <button ng-if="selected" type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#catch-history" >View Catch History</button>
	  </div>
	  <div class="modal fade" id="catch-history" tabindex="-1" role="dialog">
	    <div class="modal-dialog" role="document">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	            <span aria-hidden="true">&times;</span>
	          </button>
	          <h4 class="modal-title">Catch History</h4>
	        </div>
        <div class="modal-body">
		  <h5 class="text-center"><strong>{{line_selected.name}}</strong><br><br><i>Trapline number: {{trapline_id}}</i><br><i>Trap number: {{selected.number}}</i></h5>
          <table class="table table-striped" id="tblGrid">
            <thead id="tblHead">
              <tr>
                <th>Name</th>
                <th>Notes</th>
                <th>Date</th>
                <th>Image</th>
              </tr>
            </thead>
            <tbody data-ng-repeat="catch in catches">
              <tr>
              	<td>{{catch.catch_type.name}}</td>
                <td>{{catch.note}}</td>
                <td>{{formatDate(catch.logged) | date:"dd MMMM yyyy"}}</td>
                <td><a href=/#/catch.img_filename>View Image</td>
              </tr>
            </tbody>
          </table>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	          <button type="button" class="btn btn-primary">Export</button>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	</div>
	</form>
	
	<div ng-if ="selected" ng-show="showMap()" class="map" id="mapid"></div>


	</div>
	</div>
	</div>
	
    
	