<ul class="breadcrumb">
  <li><a href="/#/trapline-admin" >Admin</a></li>
  <li class="active">Trapline id: {{trapline_id}}</li>  
</ul>

<h1 class="text-center page-header">Trap Admin</h1>

<div class="form-group">
	<span ng-if="!(traps.length > 0)">No traps exist: </span>
	<a href="#/trap-admin/{{trapline_id}}/add-new" id="addButton">
		<span class="glyphicon glyphicon-plus"></span> Add Trap
	</a>
</div>
		
<div ng-if="traps.length > 0" class="row">
	<div class="col-sm-7">
		<table class="table table-condensed table-hover admin">
			<thead>
				<tr>
					<th>Trap Number</th>
					<th>Location</th>
					<th>Status</th>
					<th>Last Reset</th>
					<th>Placed Date</th>
				</tr>
			</thead>
			<tbody data-ng-repeat="trap in traps[currentPage]">
				<tr data-ng-click="setSelected();"
					class="{{trap == selected ? 'success' : ''}}">
					<td scope="row">{{trap.number}}</td>
					<td>{{trap.coord_lat + ' '}}<b>S</b><br>{{trap.coord_long +
						' '}}<b>E</b></td>
					<td>{{trap.status? "active":"inactive"}}</td>
					<td>{{formatDate(trap.created) | date:"dd MMMM yyyy"}}</td>
					<td>{{formatDate(trap.last_reset)| date:"dd MMMM yyyy"}}</td>
				</tr>
			</tbody>
		</table>

		<nav aria-label="Page navigation">
			<ul class="pagination">
				<li ng-class="{disabled: currentPage == 0}"><a href
					ng-click="prevPage()">« Prev</a></li>

				<li
					ng-repeat="n in range(traps.length, currentPage, currentPage + gap) "
					ng-class="{active: n == currentPage}" ng-click="setPage()"><a
					href ng-bind="n + 1">1</a></li>

				<li ng-class="{disabled: (currentPage) == traps.length - 1}"><a
					href ng-click="nextPage()">Next »</a></li>
			</ul>
		</nav>
	</div>
	<div class="col-sm-5">
		<div class="well clearfix">
			<form ng-if="selected">
			<h3>
				{{'Trap Number: ' + selected.number}}
				<div class="btn-group pull-right" data-toggle="buttons" >
					<label
						ng-class="{ 'btn btn-default': true, 'active': status }">
						<input ng-model="status" value="1" type="radio" autocomplete="off"
						>Active
					</label> <label
						ng-class="{ 'btn btn-default': true, 'active': !status}">
						<input ng-model="status" value="0" type="radio" autocomplete="off"
						>Inactive
					</label>
				</div>

			</h3>

			<div class="row">
				<div class="col-md-6 form-group">
					<label>Latitude</label>
					<div class="input-group">
						<input type="number" class="form-control" 
							ng-model="latitude"> <span
							class="input-group-addon">S</span>
					</div>
				</div>
				<div class="col-md-6 form-group">
					<label>Longitude</label>
					<div class="input-group">
						<input type="number" class="form-control" ng-model="longtitude"> <span
							class="input-group-addon">E</span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 form-group">
					<label>Bait type</label>
					<select class="form-control" ng-model="baitId" >
						<option data-ng-selected="bait.id == baitId" 
							 data-ng-repeat="bait in baits" ng-value="{{bait.id}}">{{bait.name}}</option>
					</select>
				</div>
				<div class="col-md-6 form-group">
					<label>Trap type</label>
					<select class="form-control" ng-model="typeId" >
						<option data-ng-selected="type.id == typeId" 
							 data-ng-repeat="type in trap_type" ng-value="{{type.id}}">{{type.name}}</option>	
					</select>
				</div>
			</div>

	<div class="clearfix form-group">
	  <div>
	  <button ng-if="selected" type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#catch-history" >View Catch History</button>
	  </div>
	  <div class="modal fade" id="catch-history" tabindex="-1" role="dialog">
	    <div class="modal-dialog" role="document">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	            <span aria-hidden="true">&times;</span>
	          </button>
	          <h4 class="modal-title">Catch History</h4>
	        </div>
        <div class="modal-body">
		  <h5 class="text-center"><strong>{{line_selected.name}}</strong><br><br><i>Trapline number: {{trapline_id}}</i><br><i>Trap number: {{selected.number}}</i></h5>
          <table class="table table-striped" id="tblGrid">
            <thead id="tblHead">
              <tr>
                <th>Name</th>
                <th>Notes</th>
                <th>Date</th>
                <th>Image</th>
              </tr>
            </thead>
            <tbody data-ng-repeat="catch in catches">
              <tr>
              	<td>{{catch.catch_type.name}}</td>
                <td>{{catch.note}}</td>
                <td>{{formatDate(catch.logged) | date:"dd MMMM yyyy"}}</td>
                <td><a href=/#/catch.img_filename>View Image</td>
              </tr>
            </tbody>
          </table>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	          <button type="button" class="btn btn-primary">Export</button>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	</div>
		<div class="clearfix">
	<div class = "pull-right form-group">
		<button class="btn btn-success" type="button" >Save</button>
		<button class="btn btn-danger" type="button">Delete</button>
		</div>
	</div>
	</form>
	
	<div ng-show="showMap()" class="map" id="mapid"></div>


	</div>
	</div>
	</div>
	