<ul class="breadcrumb">
  <li><a href="/#/trapline-admin" >Admin</a></li>
  <li class="active">Trapline id: {{trapline_id}}</li>  
</ul>

<h1 class="text-center page-header">Volunteer Admin</h1>

 <div class="row"> 
    <div class="col-sm-7">  
    <div style="padding-bottom: 20px;">
      <a ng-click="addNew()" id="addButton" ><span class="glyphicon glyphicon-plus"></span> Add Volunteer</a>  
      </div>
      <table class="table table-condensed table-hover admin">
        <thead>
          <tr>
            <th>ID</th>
            <th>User Name</th>
            <th>Email</th>
            <th>Start Date</th>
            <th>Permission</th>
          </tr>
        </thead>
        <tbody data-ng-repeat="volunteer in volunteers[currentPage]">
          <tr data-ng-click="setSelected();" class="{{volunteer == selected ? 'success' : ''}}">
            <td scope="row">{{volunteer.id}}</td>
            <td>{{volunteer.username}}</td>
            <td>{{volunteer.email}}</td>
            <td>{{formatDate(volunteer.created_timestamp) |  date:"dd MMMM yyyy"}}</td>
            <td>{{volunteer.admin?"Admin":"Volunteer"}}</td>
          </tr>    
        </tbody>
      </table>
      
      <nav aria-label="Page navigation">
		  <ul class="pagination">
	          <li ng-class="{disabled: currentPage == 0}">
	              <a href ng-click="prevPage()">« Prev</a>
	          </li>
	      
               <li ng-repeat="n in range(volunteers.length, currentPage, currentPage + gap) "
                   ng-class="{active: n == currentPage}"
               ng-click="setPage()">
                   <a href ng-bind="n + 1">1</a>
               </li>
	       
	          <li ng-class="{disabled: (currentPage) == volunteers.length - 1}">
	              <a href ng-click="nextPage()">Next »</a>
	          </li>
		  </ul>
		</nav>
		<!--  <button ng-click="goBack()" type="button" class="btn btn-default">
			<span class="glyphicon glyphicon-arrow-left"></span> Back
		</button> -->
    </div>

    <div class="col-sm-5"> 
      <div class="well">
        <h3 style="margin-top: 0">{{selected.id ? 'Volunteer ID: ' + selected.id : 'Add New Volunteer'}}</h3>
        <p>{{selected.id ? 'First Volunteered: ' + (formatDate(selected.created_timestamp)  |  date:"dd MMMM yyyy") : " "}}</p>
        <div class="row">
          <div class="col-md-6 form-group">
            <label>Full Name</label>
            <div>
              <input type="text" class="form-control" value ="{{selected.username}}">
            </div>
          </div>
          <div class="col-md-6 form-group">  
            <label>User Name</label>
            <div>
              <input type="text" class="form-control" value ="{{selected.fullname}}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-group">
            <label>Phone</label>
            <div>
              <input type="text" class="form-control" value ="{{selected.phone}}">
            </div>
          </div>
          <div class="col-md-6 form-group">  
            <label>Email</label>
            <div>
              <input type="text" class="form-control" value ="{{selected.email}}">
            </div>
          </div>
        </div>
        
    	<div class="clearfix">
		<div class="pull-right" style="margin-top: 10px;">
        <button class="btn btn-success" type="button" ng-if="!selected">Save</button>
        <div ng-if="selected">
        <button class="btn btn-success" type="button">Edit</button>
        <button class="btn btn-danger" type="button">Delete</button>
        </div>
      </div>
      </div>
	</div>
</div>
</div>