<ul class="breadcrumb">
  <li><a href="/#" >Home</a></li>
  <li><a href="/#/trapline-admin" >Admin</a></li>
  <li class="active">{{trapline_name}}</li>  
</ul>

<div class="jumbotron">
<h2 class="text-center page-header">Volunteer Admin</h2>
<p ng-if="!(volunteers.length > 0)">There are no volunteers for this trapline yet</p>

<br>
<br>
  <div ng-if="volunteers.length> 0">
	    <table class="table table-condensed admin">
        <thead>
          <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Start Date</th>
            <th>Permission</th>
          </tr>
        </thead>
        <tbody data-ng-repeat="volunteer in volunteers[currentPage]">
          <tr ng-class-odd="'active'">
            <td scope="row">{{volunteer.id}}</td>
            <td>{{volunteer.fullname}}</td>
            <td>{{volunteer.email}}</td>
            <td>{{formatDate(volunteer.created_timestamp) |  date:"dd MMMM yyyy"}}</td>
            <td>{{volunteer.admin?"Admin":"Volunteer"}}</td>
          </tr>    
        </tbody>
      </table>

  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li ng-class="{disabled: currentPage == 0}"><a href
        ng-click="prevPage()">« Prev</a></li>

      <li
        ng-repeat="n in range(volunteers.length, currentPage, currentPage + gap) "
        ng-class="{active: n == currentPage}" ng-click="setPage()"><a
        href ng-bind="n + 1">1</a></li>

      <li ng-class="{disabled: (currentPage) == volunteers.length - 1}"><a
        href ng-click="nextPage()">Next »</a></li>
    </ul>
  </nav>  
</div>
</div>
    